mixin heading(text,classes,title)
  if(title) 
    h2(class= classes + " sub-title")= text
  else 
    h3(class=classes)= text

mixin header(text,classes)
  h1.display-title(class=classes)= text

mixin article(title,image,before,headingClasses,imageClasses,classes)
  div.my-4.article(class="md:mb-12" + classes)
    if (image && before) 
      +article-image(image,title,imageClasses+ " shadow-md my-2 md:img-top")
    h4.my-2.heading(class= headingClasses)= title
    block
    if (image && !before)
      +article-image(image,title,imageClasses + " shadow-md my-2 md:img-bottom")

mixin article-image(image,title,classes)
  img(src= image, alt= title, class=classes)
    
mixin styled-ulist(entries)
  ul.styled-ul
    each text in entries
      li
        i.fa.fa-check 
        span= text

//- Define a mixin for a quoted paragraph with italic text
mixin quoted-paragraph(text)
  p.quote-text.mb-4
    | <sup>&ldquo;</sup><span>#{text}</span><sub>&rdquo;</sub>
    | &nbsp; 
    br 
    strong.text-right.text-t3- A. Person

mixin section-column(cols,classes)
  div.grid-cols-1.grid(class="md:grid-cols-" +cols  +" " + classes)
    block
