mixin heading(text,classes)
  h2(class=classes)= text

mixin header(text,classes)
  h1.display-title(class=classes)= text

mixin article(title,image,before)
  div.my-4
    if (image && before) 
      +article-image(image,title)
    h3.text-t5.mb-2= title
    p.mb-2
      block
    if (image && !before)
      +article-image(image,title)

mixin article-image(image,title,classes)
  p.mb-2
    img(src= image, alt= title, class="w-full " + classes)
    
mixin styled-ulist(entries)
  ul.styled-ul
    each text in entries
      li
        i.fa.fa-check 
        span= text

//- Define a mixin for a quoted paragraph with italic text
mixin quoted-paragraph(text)
  p.quote-text.mb-4
    | <sup>&ldquo;</sup><span>#{text}</span><sub>&rdquo;</sub>
    | &nbsp; 
    br 
    strong.text-right.text-t2 - A. Person

mixin section-column(cols,classes)
  div.grid-cols-1.grid(class="md:grid-cols-" +cols  +" " + classes)
    block
